// $dark: #181818;
$white: #fefefe;

$dark: #0B0C10;
$dark-gray: #1F2833;
$light-gray: #C5C6C7;
$cyan: #66FCF1;
$dark_cyan: #45A29E;

@font-face {
    font-family: Beyno;
    src: url("../BEYNO.otf");
  }

  body{
    font-family: Beyno;
    background-color: $dark;
}  
  

/* Box sizing rules */

*,
*::before,
*::after {
    box-sizing: border-box;
}


/* Remove default padding */

ul[class],
ol[class] {
    padding: 0;
}


/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}


/* Set core body defaults */

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}


/* Remove list styles on ul, ol elements with a class attribute */

ul[class],
ol[class] {
    list-style: none;
}


/* A elements that don't have a class get default styles */

a:not([class]) {
    text-decoration-skip-ink: auto;
}


/* Make images easier to work with */

img {
    max-width: 100%;
    display: block;
}


/* Natural flow and rhythm in articles by default */

article>*+* {
    margin-top: 1em;
}


/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
    font: inherit;
}


/* Remove all animations and transitions for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.border-top {
    position: fixed;
    background-color: $white;
    height: 20px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
  
  .border-left {
    position: fixed;
    background-color: $white;
    width: 20px;
    top: 0;
    bottom: 0;
    z-index: 100;
  }
  .border-bottom {
    position: fixed;
    background-color: $white;
    height: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
  
  /*scrollbar width */
  ::-webkit-scrollbar {
    width: 20px;
  }
  
  /* scrollbar Track */
  ::-webkit-scrollbar-track {
    background: $white;
  }
  
  /* scrollbar Handle */
  ::-webkit-scrollbar-thumb {
    background: $cyan;
    border-left: 9px solid $white;
    border-right: 9px solid $white;
    border-top: 20px solid $white;
    border-bottom: 20px solid $white;
  
  }
  
  /* scrollbar Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b3a577;
  }