@font-face {
  font-family: Geomanist;
  src: url("../Geomanist.otf");
}

body {
  font-family: Geomanist;
  background-color: #181818;
}

/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.border-top {
  position: fixed;
  background-color: #fefefe;
  height: 20px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.border-left {
  position: fixed;
  background-color: #fefefe;
  width: 20px;
  top: 0;
  bottom: 0;
  z-index: 100;
}

.border-bottom {
  position: fixed;
  background-color: #fefefe;
  height: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

/*scrollbar width */
::-webkit-scrollbar {
  width: 20px;
}

/* scrollbar Track */
::-webkit-scrollbar-track {
  background: #fefefe;
}

/* scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: #181818;
  border-left: 9px solid #fefefe;
  border-right: 9px solid #fefefe;
  border-top: 20px solid #fefefe;
  border-bottom: 20px solid #fefefe;
}

/* scrollbar Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b3a577;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #fefefe;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 50px 0 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
}

nav .logo {
  width: 70px;
  height: 70px;
}

nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .menu .navLinks a {
  padding: 0 20px;
  color: #fefefe;
  text-decoration: none;
}

main {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .mainImage {
  width: 40%;
}

main .mainImage img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

#about_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
}

#about_page .main_container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about_page .main_container .leftDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

#about_page .main_container .rightDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid orange;
  width: 50%;
}

#about_page .main_container .rightDiv img {
  border-radius: 100%;
  height: auto;
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contact_container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contact_container .contactInfo {
  width: 46%;
  height: 63%;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .contact_container .contactInfo h2 {
  display: inline-block;
  font-family: Roboto Condensed;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  margin: 0px 0px 16px;
}

.contact .contact_container .contactInfo h3 {
  font-family: Roboto Condensed;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  margin: 0px 0px 32px;
}

.contact .contact_container .contactInfo p {
  color: #fffefa;
  font-family: Roboto;
  line-height: 26px;
  margin: 0px 0px 48px;
}

.contact .contact_container .contactInfo a {
  color: #fffefa;
  display: inline-block;
  font-family: Roboto;
  line-height: 26px;
  margin: 0px 0px 56px;
}

.contact .contact_container .contactForm {
  width: 46%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contact_container .contactForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.contact .contact_container .contactForm form label#name {
  color: #fffefa;
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
  margin: 0px 0px 8px;
}

.contact .contact_container .contactForm form input#name {
  background-color: #1f2731;
  border-color: #2d353e;
  border-radius: 6px;
  border-style: solid;
  border-width: 1.5px;
  color: #fffefa;
  font-family: Roboto;
  line-height: 24px;
  padding: 10px 40px;
  margin: 0px 0px 20px;
}

.contact .contact_container .contactForm form label#email {
  color: #fffefa;
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
  margin: 0px 0px 8px;
  text-transform: uppercase;
}

.contact .contact_container .contactForm form input#email {
  background-color: #1f2731;
  border-color: #2d353e;
  border-radius: 6px;
  border-style: solid;
  border-width: 1.5px;
  color: #fffefa;
  font-family: Roboto;
  line-height: 24px;
  padding: 10px 10px 10px 40px;
  margin: 0px 0px 20px;
}

.contact .contact_container .contactForm form label#message {
  color: #fffefa;
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
  margin: 0px 0px 8px;
  text-transform: uppercase;
}

.contact .contact_container .contactForm form textarea#message {
  background-color: #1f2731;
  border-color: #2d353e;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  color: #fffefa;
  font-family: Roboto;
  line-height: 24px;
  padding: 10px;
  margin: 0px 0px 20px;
  resize: none;
}

.contact .contact_container .contactForm form #submitContact {
  width: 141px;
  height: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fffefa;
  background-position: 400% 50%;
  background-size: 140%;
  border-color: #fffefa;
  border-style: solid;
  border-width: 2px;
  color: #0f1922;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Roboto;
  line-height: 24px;
  padding: 8px 20px;
  text-align: center;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
}

footer .footer_logo {
  width: 80%;
  height: 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer_logo img {
  width: 60px;
  height: 60px;
}

footer .footer_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 32px;
  gap: 80px;
  height: 134px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

footer .footer_links a {
  color: #fefefe;
  text-decoration: none;
}

footer .footer_icons {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 134px;
  gap: 30px;
}

footer .footer_copyright {
  font-size: 12px;
  line-height: 16px;
}
/*# sourceMappingURL=style.css.map */