@import "./reset";

html {
    scroll-behavior: smooth;
}

body {
    color: $white;
}

nav {
    //    border: 2px solid yellow;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 40px 50px 0 50px;
    align-items: center;
    position: fixed;

    .logo {
        // border: 2px solid red;
        width: 70px;
        height: 70px;

        img {
            //    object-fit: contain;
        }
    }

    .menu {
        // border: 2px solid blue;
        display: flex;
        align-items: center;

        .navLinks {


            a {
                padding: 0 20px;
                color: $white;
                text-decoration: none;

            }
        }

        .menuBtn {}


    }
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    // border: 2px solid red;
    // background-image: url("../img/bg2.jpg");
    // background-size: 100%;
  
    .mainImage{
       width: 40%;
        // border: 2px solid blue;
        img{
            width: 100%;
            height: 100vh;
            object-fit: cover;
        }
    }
}

#about_page {
    display: flex;
    justify-content: center;
    // border: 2px solid orange;
    width: 100%;
    height: 100vh;

    .main_container {
        // border: 2px solid green;
        width: 80%;
        display: flex;

        .leftDiv {
            display: flex;
            flex-direction: column;
            justify-content: center;
            // border: 2px solid violet;
            width: 50%;
        }

        .rightDiv {
            display: flex;
            justify-content: center;
            align-items: center;
            // border: 2px solid orange;
            width: 50%;




            img {
                border-radius: 100%;
                height: auto;
                width: 35%;
                object-fit: cover;
            }
        }

    }
}

#projects_page {
    display: grid;
    align-content: center;
}

.contact {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 2px solid blue;

    .contact_container {
        // border: 2px solid white;
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;


        .contactInfo {
            // border: 2px solid red;
            width: 46%;
            height: 63%;
            line-height: 24px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h2 {
                
                display: inline-block;
                font-family: Roboto Condensed;
                font-size: 20px;
                font-weight: 700;
                line-height: 28px;
                margin: 0px 0px 16px;
            }

            h3 {
                
                font-family: Roboto Condensed;
                font-size: 48px;
                font-weight: 700;
                line-height: 48px;
                margin: 0px 0px 32px;
            }

            p {
                color: #fffefa;
                font-family: Roboto;
                line-height: 26px;
                margin: 0px 0px 48px;
            }

            a {
                color: #fffefa;
                display: inline-block;
                font-family: Roboto;
                line-height: 26px;
                margin: 0px 0px 56px;
            }

        }

        .contactForm {
            // border: 2px solid violet;
            width: 46%;
            display: flex;
            align-items: center;

            form {
                display: flex;
                flex-direction: column;
                // border: 2px solid green;
                width: 100%;

                label#name {
                    color: #fffefa;
                    // border: 2px solid red;
                    font-family: Roboto;
                    font-size: 14px;
                    line-height: 20px;
                    margin: 0px 0px 8px;

                }

                input#name {
                    background-color: #1f2731;

                    border-color: #2d353e;
                    border-radius: 6px;
                    border-style: solid;
                    border-width: 1.5px;
                    color: #fffefa;
                    font-family: Roboto;
                    line-height: 24px;
                    padding: 10px 40px;
                    margin: 0px 0px 20px;

                }

                label#email {
                    color: #fffefa;
                    font-family: Roboto;
                    font-size: 14px;
                    line-height: 20px;
                    margin: 0px 0px 8px;
                    text-transform: uppercase;

                }

                input#email {
                    background-color: #1f2731;
                    border-color: #2d353e;
                    border-radius: 6px;
                    border-style: solid;
                    border-width: 1.5px;
                    color: #fffefa;
                    font-family: Roboto;
                    line-height: 24px;
                    padding: 10px 10px 10px 40px;
                    margin: 0px 0px 20px;
                }

                label#message {
                    color: #fffefa;
                    font-family: Roboto;
                    font-size: 14px;
                    line-height: 20px;
                    margin: 0px 0px 8px;
                    text-transform: uppercase;
                }

                textarea#message {
                    background-color: #1f2731;
                    border-color: #2d353e;
                    border-radius: 8px;
                    border-style: solid;
                    border-width: 1px;
                    color: #fffefa;
                    font-family: Roboto;
                    line-height: 24px;
                    padding: 10px;
                    margin: 0px 0px 20px;
                    resize: none;
                }


                #submitContact {
                    width: 141px;
                    height: 44px;
                    align-items: center;
                    background-color: #fffefa;
                    background-position: 400% 50%;
                    background-size: 140%;
                    border-color: #fffefa;
                    border-style: solid;
                    border-width: 2px;
                    color: #0f1922;
                    display: flex;
                    font-family: Roboto;
                    line-height: 24px;
                    padding: 8px 20px;
                    text-align: center;
                }
            }
        }
    }
}



footer {
    // border: 2px solid cyan;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;

    .footer_logo {
        width: 80%;
        // border: 2px solid blueviolet;
        height: 128px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 60px;
            height: 60px;
        }

    }

    .footer_links {
        display: flex;
        width: 80%;
        justify-content: center;
        // border: 2px solid yellow;
        padding: 32px;
        gap: 80px;
        height: 134px;
        align-items: center;
        border-top: 1px solid white;
        border-bottom: 1px solid white;

        a {
            // border: 2px solid yellow;
            color: $white;
            text-decoration: none;
        }
    }

    .footer_icons {
        //    border: 2px solid blueviolet;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 134px;

        gap: 30px;




    }

    .footer_copyright {
        //  border: 2px solid red;
        // width: calc(100%/4);
        font-size: 12px;
        line-height: 16px;

    }
}